# 不再忽略输出结果和依赖文件
# results/
# figures/
# *.yml

# 忽略模型缓存（建议）
cloudgpt-apim-token-cache.bin
data/initial_plan/*
data/contriever_fb_relation/freebase_contriever_index/index
data/openai_embeddings/fb_relation_embed.json
data/openai_embeddings/WebQSP_test_question_embed.json
utils/cloudgpt_aoai_new.py

# 图片不重要（视情况）
*.png

# Python 缓存和编译中间产物
__pycache__/
*.py[cod]
*$py.class
*.so

# 虚拟环境相关
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 安装构建等临时目录
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 安装器、测试器等生成内容
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# coverage
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDE 设置（PyCharm 配置文件）
.idea/

# mypy / pytype / pyre / cython / rope / spyder 等 IDE 工具
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/
.spyderproject
.spyproject
.ropeproject
cython_debug/
